# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# VS Code / Eclipse (Archivos de configuración local del editor)
.vscode/
.classpath
.project
.settings/
.factorypath

# Archivos compilados sueltos
*.class
*.jar
*.war
*.ear

# SO (Archivos ocultos de Windows/Mac/Linux)
.DS_Store
Thumbs.db